/node_modules/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
.thumbnails/
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn
*~
*.log
/logs/
*.env

/vendor/ocp/
/js/